.main{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
  }
.card{
    padding-left: 2%;
    padding-top: 2%;
    width: 40%;
    height: 60%;
background-color: whitesmoke;
border-style: solid;
border-color: cadetblue;
margin-left: 5%;
margin-top: 3%;
}
img{
    height: 10%;
    width: 3cm;
    border-style: solid;
    border-color: cadetblue;
}
